leadgenius/0ogGctvl7YiY2yiu.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Already sent?": {
      "main": [
        [
          {
            "node": "Secretary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretary Agent": {
      "main": [
        [
          {
            "node": "Send reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get upcoming event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Secretary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get upcoming event": {
      "main": [
        [
          {
            "node": "Already sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T15:03:18.122Z",
  "id": "0ogGctvl7YiY2yiu",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Calendar Reminder System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "17358b21-004e-49aa-a877-01f9ffc7ee38",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1300,
        200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "55c672ce-db1d-42bd-947a-992e4c4a97b4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -540,
        380
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "bobbydionido@gmail.com",
          "mode": "list",
          "cachedResultName": "bobbydionido@gmail.com"
        },
        "limit": 5,
        "timeMin": "={{ $now.plus({ hour: 1 }) }}",
        "timeMax": "={{ $now.plus({ hour: 1, minute:1 }) }}",
        "options": {}
      },
      "id": "4ded2fd1-35f9-4ae6-bc8e-2ba3264548ff",
      "name": "Get upcoming event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        -1040,
        200
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bmO1WTL9Q3uAYVPD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.id }}",
        "options": {}
      },
      "id": "98a28ae8-0a89-4bbc-9c0c-b20ba877035d",
      "name": "Already sent?",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        -760,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=These are the details of the event/appointment:\n\nEvent Name: {{ $('Get upcoming event').item.json.summary }}\nDescription: {{ $('Get upcoming event').item.json.description }}\nLocation: {{ $('Get upcoming event').item.json.location }}\nStart: {{ $('Get upcoming event').item.json.start.dateTime }}\nEnd: {{ $('Get upcoming event').item.json.end.dateTime }}\nCreated by: {{ $('Get upcoming event').item.json.creator.email }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Core Identity\nYou are a reliable, warm, and professional virtual secretary — a trusted assistant who brings order to busy schedules with efficiency, personality, and care. Your job is to help manage time, reduce stress, and keep everything on track through timely, thoughtful support.\n\n# Communication Style\n- Friendly and conversational, like a helpful colleague\n- Informal yet always precise and organized\n- Warm, attentive, and human — with occasional light humor or charm\n- Balances professionalism with personality\n\n# Key Responsibilities\n\n## 1. Calendar & Appointment Management\n- Send timely, clear reminders about upcoming events or tasks\n- Share scheduling updates in a way that's easy to digest\n- Present details (time, location, purpose, etc.) without overwhelming the user\n\n## 2. Communication Etiquette\n- Always be prompt, clear, and calm in your responses\n- Uphold discretion and confidentiality at all times\n- Never overwhelm with questions — simply inform and guide\n\n# Interaction Guidelines\n- Never ask for confirmation unless specifically instructed\n- Present information confidently, as if it's already been confirmed\n- Avoid filler or redundant phrasing; be crisp and helpful\n- Use short, natural sentences — write the way you’d speak in a friendly work chat\n\n# Tone and Language\n- Approachable, warm, and supportive\n- Simple and direct, never overly formal or robotic\n- Add subtle personality without distracting from the message\n- Express genuine care — you’re not just managing a calendar, you’re easing someone’s day\n\n# Reminder\nYour core mission is to reduce stress and enhance the user’s day through smooth, friendly, and proactive administrative support. Every interaction should leave the user feeling organized, understood, and supported — like they’ve got someone truly reliable watching their back.\n"
        }
      },
      "id": "0d8e302d-a21d-4edf-9a4b-610b56c831ed",
      "name": "Secretary Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -500,
        200
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "5811640282",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1578071e-b5c0-4a77-bc1c-dfabdffe597c",
      "name": "Send reminder",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -140,
        200
      ],
      "webhookId": "dbb6a96e-db3b-4827-9455-a91007b89616",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Calendar Event Reminder\nThis smart **Google Calendar** workflow fixes that by sending you a clear, friendly reminder exactly **1 hour before your event starts**—delivered through **Telegram** as if a personal assistant were looking out for you. Powered by **AI**, it transforms cold calendar alerts into warm, conversational nudges you won't ignore.",
        "width": 620,
        "color": 3
      },
      "id": "f01321f4-cdab-41d6-b003-b336fe623c86",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 1\n- In the \"Get upcoming event\" node enter how much time before the event starts you want to be notified. It is currently set to 1 hour\n- In the Telegram node replace CHAT_ID with that of your personal Bot",
        "height": 140,
        "width": 620
      },
      "id": "f854cb35-4095-41c1-8168-d39c8162d72a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Prevent multiple reminders for the same event",
        "height": 200,
        "width": 220
      },
      "id": "7bfbadb1-3d9b-4058-a301-cb395b739f74",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        140
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-16T15:03:18.124Z",
      "createdAt": "2025-07-16T15:03:18.124Z",
      "role": "workflow:owner",
      "workflowId": "0ogGctvl7YiY2yiu",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-21T03:19:00.000Z",
  "versionId": "c223bd82-f770-4502-9082-531e2655e36b"
}