leadgenius/aWJIXOFCeIrtdgcN.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "Contact Database": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "researchAgent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audio": {
      "main": [
        [
          {
            "node": "Send Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Agent Response": {
      "main": [
        [
          {
            "node": "Create Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Summarize Agent Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Message split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendarAgent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "emailAgent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Schema": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Extract from File to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Agent Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image File": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File to Base64": {
      "main": [
        [
          {
            "node": "Convert to Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audio1": {
      "main": [
        [
          {
            "node": "Send Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Agent Response1": {
      "main": [
        [
          {
            "node": "Create Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather tool": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator tool": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Telegram Message split": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T11:11:46.803Z",
  "id": "aWJIXOFCeIrtdgcN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "V4-Bobby's Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "77a724c0-bcba-4e0a-b2cb-24697a469048",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        192
      ],
      "webhookId": "cfe74b57-7b18-4126-b222-9132476ad55a",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "dd9d02eb-1686-45d0-9cbf-eafe32505bd3",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -912,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yc0FA1BxkfgZJcD0TrrZaW0gYdOH4JpB8Le6xKPM3o4",
          "mode": "list",
          "cachedResultName": "Bobby's Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yc0FA1BxkfgZJcD0TrrZaW0gYdOH4JpB8Le6xKPM3o4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 67324339,
          "mode": "list",
          "cachedResultName": "Google Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yc0FA1BxkfgZJcD0TrrZaW0gYdOH4JpB8Le6xKPM3o4/edit#gid=67324339"
        },
        "options": {}
      },
      "id": "c1b6f442-bc34-471e-895b-f161eac90dc0",
      "name": "Contact Database",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -768,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "58cf95ee-3676-4b9c-a3b4-e1db61f4864a",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -256
      ],
      "webhookId": "cf593639-4cf0-4bcd-a5b4-96e369cc01c7",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "name": "researchAgent",
        "description": "Call this tool to search the internet to answer the user's question",
        "workflowId": {
          "__rl": true,
          "value": "PSxXARKjtIqfA7tR",
          "mode": "list",
          "cachedResultName": "Bobby's Research Agent"
        }
      },
      "id": "9515b12c-d961-4dfd-96a1-3ed16a1a9e97",
      "name": "researchAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26eddbf7-1214-4adf-9ae6-909d855134c4",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        192
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "0ce21d62-0210-4ae7-acb9-4bc8be958300",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        0
      ],
      "webhookId": "e4a069a4-c708-4557-881d-2ac0bd7d5984",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/3bcmLsVqFX0NU15kYYjf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_72e78f828ff305004b109f1de62f28bf3413a1098c6a7111"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '') }}\"\n}\n",
        "options": {}
      },
      "id": "b240ee24-7496-4f4f-b429-d1379d5d480e",
      "name": "Create Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        144
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "data.mpeg"
        }
      },
      "id": "0bb27c9f-60df-4f25-bd77-92833d59d542",
      "name": "Send Audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        144
      ],
      "webhookId": "062c0688-1aeb-4457-8b34-4c81bb6ee59a",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this incoming information:  {{ $json.output }}\n\nOutput only plain text, there should be no markdown formatting or  any symbols.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "4ea2d69f-53e4-442c-a0f6-f5956ad2e078",
      "name": "Summarize Agent Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        80,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, calendar events, inform about the weather, solve math and numberical problems,conduct research to the internet for the user. You have access to six tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nResearch Agent: Use this to search the internet to answer the user's question.\n\nWeather tool: Use this to check the weather.\n\nCalculator tool: Use this tool to help you in solving math and numerical questions.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nremember my home address is: Block 824, Yishun St 81, Singapore\nand my office address is: Changi City Point, Singapore. use above address if i ask about Home or Office.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "id": "bb1af2b1-51a2-49a6-bb08-b80ea255fd68",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -480,
        64
      ]
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for calendar actions",
        "workflowId": {
          "__rl": true,
          "value": "KFF9bC2w9fcBjDyl",
          "mode": "list",
          "cachedResultName": "Bobby's Calendar Agent"
        }
      },
      "id": "6563de8c-b017-43c2-bb56-4021559de80d",
      "name": "calendarAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -512,
        400
      ]
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for email actions",
        "workflowId": {
          "__rl": true,
          "value": "F9swb5BkqqGRQrke",
          "mode": "list",
          "cachedResultName": "Bobby's Email Agent V2"
        }
      },
      "id": "75084b3e-bb40-4fad-92c1-675513d5875b",
      "name": "emailAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -640,
        400
      ]
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -672,
        0
      ],
      "id": "ad306d66-aefd-41e9-9153-e6fdc5ac8975",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "VyVi0c3igqAjzHaI",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -400,
        -160
      ],
      "id": "355b4c71-49b9-4663-8c1f-f6fad42469af",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PhcWOUod8OUw29Ob",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17989eb0-feca-4631-b5c8-34b1d4a6c72b",
              "name": "image_file_id",
              "type": "string",
              "value": "={{ $json.message.photo[2].file_id }}"
            },
            {
              "id": "9317d7ae-dffd-4b1f-9a9c-b3cc4f1e0dd3",
              "name": "Text",
              "type": "string",
              "value": "={{ $json.message.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afc76df2-5f10-4fc3-9667-235cbfaf0ffc",
      "name": "Image Schema",
      "type": "n8n-nodes-base.set",
      "position": [
        -1088,
        576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.image_file_id }}",
        "additionalFields": {}
      },
      "id": "cc36fc06-d5d1-4ea6-9718-943436a6d271",
      "name": "Get Image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -960,
        576
      ],
      "typeVersion": 1.2,
      "webhookId": "1f2737a8-73cf-4172-b054-a0815706a3bf",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "openai/chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "OPENAI/CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Image Schema').item.json.Text }}",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "id": "46606233-dc40-4d98-9f60-56a61b4b53bb",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -512,
        576
      ],
      "typeVersion": 1.6,
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $json.result.file_path }}"
        }
      },
      "id": "a5def33e-326f-4536-a94d-03fc63d8d45e",
      "name": "Convert to Image File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -672,
        576
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a527fff0-a4d6-43b4-9882-901d2363934b",
      "name": "Extract from File to Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -832,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/3bcmLsVqFX0NU15kYYjf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_72e78f828ff305004b109f1de62f28bf3413a1098c6a7111"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '') }}\"\n}\n",
        "options": {}
      },
      "id": "a9e2c510-2b35-4d0d-99a0-1e3826d6c9f4",
      "name": "Create Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        672
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "data.mpeg"
        }
      },
      "id": "2ce6fcc7-f893-4a77-aab0-d4ef91ee217e",
      "name": "Send Audio1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        672
      ],
      "webhookId": "5f94511c-8acb-457a-b567-54d7c6cfc6ae",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this incoming information: {{ $json.choices[0].message.content }}\n\nOutput only plain text, there should be no markdown formatting or  any symbols.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "a636dadd-3cb3-4b8d-8d5b-5843b39e80a4",
      "name": "Summarize Agent Response1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -368,
        672
      ],
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "154f9b49-caa0-4724-85c2-552ea543d7f2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "08d6664f-34d2-47c5-96e3-c53ebbf9d7bd",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1088,
        176
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "32af6b2d-ad11-4d1e-b2f3-a2123be9661b",
      "name": "Response1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        512
      ],
      "webhookId": "1869e102-de97-40a4-ae78-1cfa6b8237fb",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        -48,
        384
      ],
      "id": "b8977020-ca95-4420-bb29-cdfe1c2d886b",
      "name": "Weather tool",
      "credentials": {
        "openWeatherMapApi": {
          "id": "moo15vqJpkexQr7f",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        256,
        416
      ],
      "id": "8685fd02-e964-4450-90f8-4cf8abf632b8",
      "name": "Calculator tool"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        -256
      ],
      "id": "1d6230e9-21c2-4679-81a2-ad188885440c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3pGVESd93Pb5nrWi",
          "name": "Google Gemini AI Pro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputText = $json[\"output\"] || \"\";\n\nif (typeof inputText !== \"string\") {\n  throw new Error(\"Input must be a string\");\n}\n\nconst mid = Math.ceil(inputText.length / 2);\nconst firstHalf = inputText.substring(0, mid);\nconst secondHalf = inputText.substring(mid);\n\nreturn [\n  { json: { blockNumber: 1, content: firstHalf } },\n  { json: { blockNumber: 2, content: secondHalf } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -96
      ],
      "id": "6d6162d5-7dd3-46dc-abbf-bf5ab5c78f04",
      "name": "Telegram Message split"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -96
      ],
      "id": "ee125372-ce22-4d1b-8318-6554d31d4df9",
      "name": "Send a text message",
      "webhookId": "76bcd0eb-bdc9-4ead-a4bd-b12f7f142a2e",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-02T11:11:46.812Z",
      "createdAt": "2025-08-02T11:11:46.812Z",
      "role": "workflow:owner",
      "workflowId": "aWJIXOFCeIrtdgcN",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-06T12:23:14.411Z",
  "versionId": "61aea51a-c1fc-4c87-b4b8-3282f0f56b18"
}