leadgenius/KFF9bC2w9fcBjDyl.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-15T04:45:38.332Z",
    "createdAt": "2025-12-15T04:45:38.332Z",
    "versionId": "c8cfc3b8-cb4f-40d8-9bd8-188363aa4735",
    "workflowId": "KFF9bC2w9fcBjDyl",
    "nodes": [
      {
        "parameters": {},
        "id": "ad624068-3d0a-4046-abb6-fa8133606ce8",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -128,
          0
        ]
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "mode": "id",
            "value": "bobbydionido@gmail.com",
            "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
          },
          "start": "={{ $fromAI(\"startTime\") }}",
          "end": "={{ $fromAI(\"endTime\") }}",
          "additionalFields": {
            "summary": "={{ $fromAI(\"eventTitle\") }}"
          }
        },
        "id": "518fcb61-942d-410d-a8f4-41441842cd70",
        "name": "Create Event",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.2,
        "position": [
          144,
          224
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "vPTjlKv82uuoLG0B",
            "name": "Google Calendar account 3"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "mode": "id",
            "value": "bobbydionido@gmail.com",
            "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
          },
          "start": "={{ $fromAI(\"startTime\") }}",
          "end": "={{ $fromAI(\"endTime\") }}",
          "additionalFields": {
            "attendees": [
              "={{ $fromAI(\"attendee\") }}"
            ],
            "summary": "={{ $fromAI(\"eventTitle\") }}"
          }
        },
        "id": "e3bc2b17-bf7c-49cf-a74c-cb4f0b373927",
        "name": "Create Event with Attendee",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.2,
        "position": [
          288,
          224
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "vPTjlKv82uuoLG0B",
            "name": "Google Calendar account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "mode": "id",
            "value": "bobbydionido@gmail.com",
            "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
          },
          "returnAll": true,
          "options": {
            "timeMin": "={{ $fromAI(\"ondDayBefore\",\"one day before the date the user requested\") }}",
            "timeMax": "={{ $fromAI(\"ondDayAfter\",\"one day after the date the user requested\") }}"
          }
        },
        "id": "3b6dae63-7a1c-414d-9377-62f1f6a3c048",
        "name": "Get Events",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.2,
        "position": [
          432,
          224
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "vPTjlKv82uuoLG0B",
            "name": "Google Calendar account 3"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db40c217-79fb-4e81-a798-d8899176af18",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "64007bca-c2e3-459e-be3f-fb6574fe8aa2",
        "name": "Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them. "
          }
        },
        "id": "a4678d76-8eef-44de-8e30-f04d1f288e98",
        "name": "Calendar Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          112,
          0
        ]
      },
      {
        "parameters": {
          "model": "openai/gpt-4o-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -16,
          224
        ],
        "id": "8405e271-29b0-4f62-94a2-684a17bfaf5d",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "PhcWOUod8OUw29Ob",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Calendar Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Event": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create Event with Attendee": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get Events": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calendar Agent": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "c8cfc3b8-cb4f-40d8-9bd8-188363aa4735",
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-21T03:58:09.369Z",
  "id": "KFF9bC2w9fcBjDyl",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bobby's Calendar Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "ad624068-3d0a-4046-abb6-fa8133606ce8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "bobbydionido@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "id": "518fcb61-942d-410d-a8f4-41441842cd70",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        144,
        224
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vPTjlKv82uuoLG0B",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "bobbydionido@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "id": "e3bc2b17-bf7c-49cf-a74c-cb4f0b373927",
      "name": "Create Event with Attendee",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        288,
        224
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vPTjlKv82uuoLG0B",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "bobbydionido@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"ondDayBefore\",\"one day before the date the user requested\") }}",
          "timeMax": "={{ $fromAI(\"ondDayAfter\",\"one day after the date the user requested\") }}"
        }
      },
      "id": "3b6dae63-7a1c-414d-9377-62f1f6a3c048",
      "name": "Get Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        432,
        224
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vPTjlKv82uuoLG0B",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db40c217-79fb-4e81-a798-d8899176af18",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64007bca-c2e3-459e-be3f-fb6574fe8aa2",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them. "
        }
      },
      "id": "a4678d76-8eef-44de-8e30-f04d1f288e98",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        112,
        0
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        224
      ],
      "id": "8405e271-29b0-4f62-94a2-684a17bfaf5d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PhcWOUod8OUw29Ob",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-21T03:58:09.373Z",
      "createdAt": "2025-07-21T03:58:09.373Z",
      "role": "workflow:owner",
      "workflowId": "KFF9bC2w9fcBjDyl",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-02T13:11:21.000Z",
  "versionId": "c8cfc3b8-cb4f-40d8-9bd8-188363aa4735"
}