leadgenius/Mvl4HzPRMBUtYOO1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchCRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ardept Projects": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T15:24:17.400Z",
  "id": "Mvl4HzPRMBUtYOO1",
  "isArchived": false,
  "meta": null,
  "name": "telegram chatbot + google sheets",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1460,
        -300
      ],
      "id": "d3f8086d-a86d-4775-b9bd-49117108da38",
      "name": "Telegram",
      "webhookId": "ac0c4fe3-6115-43bc-a8f4-9ed417cec1bc",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1140,
        -80
      ],
      "id": "77642d27-8944-4537-8f21-08a68d032bc5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60eb824f-a780-4be4-a03d-2f4aecc0fcb5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1380,
        -540
      ],
      "id": "0dfb0016-6690-4713-83e4-b93ea500dfe2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Users Prompt: {{ $json.text }}",
        "options": {
          "systemMessage": "Role: You are a helpful assistant with access to CRM and email of user.\n\nGoal: Fulfill user's queries and tasks. User respective tools.\n\nTools:\n1. SearchCRM - to find people in CRM\n2. Ardept Projects - to search for Ardept projects on Project Name, Projected Total, Actual Total, Variance, Contingency percentage, Budget with Contingency, Variance with Contingency, Current paid total, Amount Due total.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -780,
        -400
      ],
      "id": "0869b815-8a8c-4618-8da8-1a763b359433",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -500,
        -140
      ],
      "id": "47ac38ba-6fc8-424c-955f-ba52fc5f425c",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "rJNl10I7vUu1LcTH",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20,
        -100
      ],
      "id": "71c2548d-2ec2-49bc-9ee4-f219dbc56490",
      "name": "Telegram1",
      "webhookId": "dedf15c5-773a-4051-a698-9e680ee125a7",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "aac3a399-3b58-4e82-882d-d45ea285fc9d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a53fa3f-d76b-41c1-b244-b94fde43c943",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1620,
        -400
      ],
      "id": "08e2e0c1-9290-4ca7-a23a-057401890960",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -400
      ],
      "id": "60e5156a-857b-4ac6-87a3-165b88cc476f",
      "name": "Telegram Trigger",
      "webhookId": "eefffa66-b870-45cd-869c-a89b5872ab25",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "A tools to search CRM",
        "documentId": {
          "__rl": true,
          "value": "1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40",
          "mode": "list",
          "cachedResultName": "ArDept Construction-Budget-Simplified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 851629707,
          "mode": "list",
          "cachedResultName": "Contacts CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit#gid=851629707"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -300,
        -660
      ],
      "id": "6e2cf2ad-2d22-4271-9f00-edef2af353cf",
      "name": "SearchCRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Columns: Project Name, Projected Total, Actual Total, Variance, Contingency percentage, Budget with Contingency, Variance with Contingency, Current paid total, Amount Due total.",
        "documentId": {
          "__rl": true,
          "value": "1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40",
          "mode": "list",
          "cachedResultName": "ArDept Construction-Budget-Simplified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 48757204,
          "mode": "list",
          "cachedResultName": "Construction Budget Totals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit#gid=48757204"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -480,
        -640
      ],
      "id": "a5040dc6-b632-4801-a7e8-3dfe2b2f02be",
      "name": "Ardept Projects",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -80,
        -640
      ],
      "id": "fb4ecbc2-f2ae-453c-aca8-94ab12b2a33f",
      "name": "Send a message in Gmail",
      "webhookId": "5c0d8a77-68ab-4344-93f6-31f6a9aa52f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "UImTehtfG77VxF1N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -800,
        -180
      ],
      "id": "6f8b6a2f-25c0-4281-bb2f-99b1beb98e11",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PhcWOUod8OUw29Ob",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -1100,
        -300
      ],
      "id": "c5b1e1c7-f811-49df-ab94-f603a824748c",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "VyVi0c3igqAjzHaI",
          "name": "ElevenLabs account"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-04T15:24:17.405Z",
      "createdAt": "2025-09-04T15:24:17.405Z",
      "role": "workflow:owner",
      "workflowId": "Mvl4HzPRMBUtYOO1",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T15:24:17.400Z",
  "versionId": "08286c8e-4b0b-4cd9-a0d4-6c3ce715921d"
}