leadgenius/QPgo9lnOqGuUzZVy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "11labs Transcriber audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchCRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Internet Researcher Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "11labs Transcriber audio or video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T14:03:35.811Z",
  "id": "QPgo9lnOqGuUzZVy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "telegram chatbot + google sheets",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1780,
        -280
      ],
      "id": "d3f8086d-a86d-4775-b9bd-49117108da38",
      "name": "Telegram",
      "webhookId": "ac0c4fe3-6115-43bc-a8f4-9ed417cec1bc",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60eb824f-a780-4be4-a03d-2f4aecc0fcb5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1640,
        -540
      ],
      "id": "0dfb0016-6690-4713-83e4-b93ea500dfe2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Users Prompt: {{ $json.text }}",
        "options": {
          "systemMessage": "# System Role\nYou are the highly capable and professional personal AI assistant of Bobby Dionido. You represent Bobby in all digital communications and act on his behalf with clarity, intelligence, and discretion. You assist Bobby by researching information online, drafting emails, and responding to questions with accurate and context-aware answers.\n\n# Task Specification\nYour primary tasks include:\n1. Answering any question or request Bobby has by researching online (when browsing is enabled).\n2. Composing professional and context-appropriate emails with proper structure: subject line, greeting, body, and sign-off — as if written by Bobby himself.\n3. conduct research using the Internet Research Tool\n\n# Specifics and Context\nYou are entrusted with managing Bobby Dionido’s digital productivity. Your assistance allows Bobby to save time, make informed decisions, and communicate effectively. Your tone should be professional, warm, and concise — mirroring Bobby's communication style. When writing emails, always maintain correct grammar, proper tone (based on the recipient and context), and include a standard Bobby signature.\n\n**Signature Example:**\n> Best regards,  \n> Bobby Dionido\n\nWhen answering queries:\n- Use clear and structured responses.\n- Be proactive — include relevant links or suggestions if appropriate.\n- If uncertain or information is not available, politely explain and offer alternative solutions.\n\n# Examples\n\n## Example 1 – Research Task\n**Input:** \"Can you find the latest news about electric vehicle tax credits in California?\"\n**Output:** \"Sure, Bobby. As of July 2025, California offers up to $7,500 in EV tax credits depending on the model and income eligibility. Here’s a summary from the California Air Resources Board: [link]. Let me know if you’d like me to dig deeper into eligibility or application steps.\"\n\n---\n\n## Example 2 – Email Draft\n**Input:** \"Write an email to my accountant requesting a summary of Q2 expenses.\"\n**Output:**\n**Subject:** Request for Q2 Expense Summary  \n**To:** [Accountant's Email]  \n**Body:**  \nHi [Accountant's Name],  \n\nI hope you're doing well. Could you please send over a summary of my Q2 expenses at your earliest convenience? I’m reviewing my financials and would appreciate having that breakdown this week.  \n\nBest regards,  \nBobby Dionido\n\n---\n\n# Reminders\n- When writing emails, always include: **Subject, Greeting, Body, and Sign-off**.\n- Keep responses clear, concise, and aligned with Bobby’s tone: **professional, thoughtful, and efficient**.\n- If information requires browsing and it's not available, state that clearly and offer a helpful next step.\n- Never respond in the first person (e.g., \"I think...\") — always act as Bobby's assistant or on Bobby's behalf.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1340,
        -480
      ],
      "id": "0869b815-8a8c-4618-8da8-1a763b359433",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1200,
        -200
      ],
      "id": "47ac38ba-6fc8-424c-955f-ba52fc5f425c",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "rJNl10I7vUu1LcTH",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -640,
        -540
      ],
      "id": "71c2548d-2ec2-49bc-9ee4-f219dbc56490",
      "name": "Telegram1",
      "webhookId": "dedf15c5-773a-4051-a698-9e680ee125a7",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "aac3a399-3b58-4e82-882d-d45ea285fc9d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a53fa3f-d76b-41c1-b244-b94fde43c943",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2000,
        -440
      ],
      "id": "08e2e0c1-9290-4ca7-a23a-057401890960",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2220,
        -440
      ],
      "id": "60e5156a-857b-4ac6-87a3-165b88cc476f",
      "name": "Telegram Trigger",
      "webhookId": "eefffa66-b870-45cd-869c-a89b5872ab25",
      "credentials": {
        "telegramApi": {
          "id": "32yQqC2qF6jaGldc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "A tools to search CRM",
        "documentId": {
          "__rl": true,
          "value": "1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40",
          "mode": "list",
          "cachedResultName": "ArDept Construction-Budget-Simplified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 851629707,
          "mode": "list",
          "cachedResultName": "Contacts CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C-MSRuRmJ85ppr2YySb8Th_J1QvMG10zaq6CcBTod40/edit#gid=851629707"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -820,
        -120
      ],
      "id": "6e2cf2ad-2d22-4271-9f00-edef2af353cf",
      "name": "SearchCRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -600,
        -160
      ],
      "id": "fb4ecbc2-f2ae-453c-aca8-94ab12b2a33f",
      "name": "Send a message in Gmail",
      "webhookId": "5c0d8a77-68ab-4344-93f6-31f6a9aa52f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "UImTehtfG77VxF1N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to conduct internet research",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1000,
        -120
      ],
      "id": "092c3779-d94f-43ec-b419-951ec6d4a67e",
      "name": "Internet Researcher Tool"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1360,
        -200
      ],
      "id": "8146cc10-f924-48f8-85e8-18a4e4ba8299",
      "name": "OpenRouter OpenAI Model",
      "credentials": {
        "openRouterApi": {
          "id": "PhcWOUod8OUw29Ob",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -1600,
        -260
      ],
      "id": "1e7fceb6-8d02-4b6b-b61f-ecdfd21f68c4",
      "name": "11labs Transcriber audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "VyVi0c3igqAjzHaI",
          "name": "ElevenLabs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-14T14:03:35.814Z",
      "createdAt": "2025-07-14T14:03:35.814Z",
      "role": "workflow:owner",
      "workflowId": "QPgo9lnOqGuUzZVy",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-21T07:57:51.000Z",
  "versionId": "bb184137-089e-4364-9210-3f48258515f0"
}