leadgenius/RiA8yI8KRMIqimTJ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Router": {
      "main": [
        [
          {
            "node": "Process Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Audio Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Image Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Text Message": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio Message": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image Message": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Other Types": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T16:10:12.673Z",
  "id": "RiA8yI8KRMIqimTJ",
  "isArchived": true,
  "meta": null,
  "name": "Telegram Multi-Media Processing Bot",
  "nodes": [
    {
      "parameters": {
        "content": "## Telegram Multi-Media Bot\nThis workflow processes different types of messages from Telegram:\n- Text messages\n- Audio messages\n- Images\n\nEach type is handled differently based on the content type.",
        "height": 200,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        180
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Workflow Overview"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        720,
        380
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Telegram Trigger",
      "webhookId": "telegram-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-id",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Configure Telegram Bot\n1. Create a bot with @BotFather\n2. Get your Bot Token\n3. Add credentials to this node\n4. Set webhook URL in production",
        "height": 150,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        380
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Telegram Setup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "values": [
                  {
                    "value1": "={{$json.message.text}}",
                    "operation": "exists"
                  }
                ]
              },
              "outputKey": "text"
            },
            {
              "conditions": {
                "values": [
                  {
                    "value1": "={{$json.message.voice}}",
                    "operation": "exists"
                  }
                ]
              },
              "outputKey": "audio"
            },
            {
              "conditions": {
                "values": [
                  {
                    "value1": "={{$json.message.photo}}",
                    "operation": "exists"
                  }
                ]
              },
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        960,
        380
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Message Type Router"
    },
    {
      "parameters": {
        "content": "## Message Type Detection\nThis switch node checks what type of message was received:\n- Text: Has message.text property\n- Audio: Has message.voice property\n- Image: Has message.photo property\n- Other: Falls back to default handler",
        "height": 180,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        140
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Router Explanation"
    },
    {
      "parameters": {
        "assignments": {
          "values": [
            {
              "id": "text_content",
              "name": "processed_text",
              "type": "string",
              "value": "=Text received: {{$json.message.text}}\n\nProcessed at: {{$now.toISO()}}\nUser: {{$json.message.from.first_name}} {{$json.message.from.last_name}}\nUsername: @{{$json.message.from.username}}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{$json.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1200,
        260
      ],
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Process Text Message"
    },
    {
      "parameters": {
        "content": "## Text Processing\nHere you can add:\n- NLP analysis\n- Command parsing\n- Database lookups\n- AI responses\n- Custom business logic",
        "height": 140,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        80
      ],
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Text Processing Options"
    },
    {
      "parameters": {
        "assignments": {
          "values": [
            {
              "id": "audio_info",
              "name": "processed_audio",
              "type": "string",
              "value": "=Audio message received!\n\nDuration: {{$json.message.voice.duration}} seconds\nFile ID: {{$json.message.voice.file_id}}\n\nNote: To transcribe audio, integrate with speech-to-text service"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{$json.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1200,
        380
      ],
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Process Audio Message"
    },
    {
      "parameters": {
        "content": "## Audio Processing\nPossible integrations:\n- Download audio file\n- Speech-to-text (Whisper API)\n- Audio analysis\n- Store in cloud storage",
        "height": 120,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        360
      ],
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Audio Processing Options"
    },
    {
      "parameters": {
        "assignments": {
          "values": [
            {
              "id": "image_info",
              "name": "processed_image",
              "type": "string",
              "value": "=Image received!\n\nNumber of sizes: {{$json.message.photo.length}}\nLargest image file ID: {{$json.message.photo[-1].file_id}}\n\nNote: To analyze images, integrate with computer vision service"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{$json.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1200,
        500
      ],
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Process Image Message"
    },
    {
      "parameters": {
        "content": "## Image Processing\nPossible integrations:\n- Download image\n- Computer vision API\n- OCR text extraction\n- Image classification\n- Store in cloud storage",
        "height": 140,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ],
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Image Processing Options"
    },
    {
      "parameters": {
        "assignments": {
          "values": [
            {
              "id": "other_type",
              "name": "processed_other",
              "type": "string",
              "value": "=Unsupported message type received.\n\nMessage type might be:\n- Video\n- Document\n- Sticker\n- Location\n- Contact\n\nRaw data: {{JSON.stringify($json)}}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{$json.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1200,
        620
      ],
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Handle Other Types"
    },
    {
      "parameters": {
        "values": {
          "values": [
            {
              "name": "response_text"
            },
            {
              "name": "chat_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1500,
        380
      ],
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Merge Responses"
    },
    {
      "parameters": {
        "content": "## Response Merger\nAll message types converge here before sending the response back to the user",
        "height": 100,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        240
      ],
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Merge Point"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.response_text || $json.processed_text || $json.processed_audio || $json.processed_image || $json.processed_other}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1740,
        380
      ],
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Send Telegram Reply",
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-id",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Final Response\n1. Uses the same bot credentials\n2. Sends to the original chat\n3. Supports Markdown formatting\n4. Add more options like keyboards or media as needed",
        "height": 140,
        "width": 250
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1720,
        200
      ],
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Response Configuration"
    },
    {
      "parameters": {
        "content": "## Next Steps\n1. Add Telegram credentials\n2. Implement specific processing logic for each type\n3. Add error handling\n4. Integrate with external services (AI, storage, etc.)\n5. Test with different message types",
        "height": 160,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        340
      ],
      "id": "e7f8a9b0-c1d2-3456-efab-789012345678",
      "name": "Implementation Guide"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "shared": [
    {
      "updatedAt": "2025-08-01T16:10:12.675Z",
      "createdAt": "2025-08-01T16:10:12.675Z",
      "role": "workflow:owner",
      "workflowId": "RiA8yI8KRMIqimTJ",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-01T16:12:14.000Z",
  "versionId": "7df68396-7353-47a5-89c9-c926f4c35bcc"
}