leadgenius/rTT3aqbAhziQYIZG.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Save Resume to Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Resume Text (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email Type": {
      "main": [
        [
          {
            "node": "Skip (If not a job application)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Score Resume": {
      "main": [
        [
          {
            "node": "Save Score to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Watch for new CV": {
      "main": [
        [
          {
            "node": "Classify Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Score Resume",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text (PDF)": {
      "main": [
        [
          {
            "node": "Retrieve Job Offer Details (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Resume to Google Drive": {
      "main": [
        [
          {
            "node": "Save CV to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume Evaluation Result": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Score Resume",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model – Resume Scoring": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Score Resume",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model – Email Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Email Type",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Job Offer Details (Google Sheets)": {
      "main": [
        [
          {
            "node": "AI Agent: Score Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T06:07:51.185Z",
  "id": "rTT3aqbAhziQYIZG",
  "isArchived": false,
  "meta": null,
  "name": "CV Screening",
  "nodes": [
    {
      "parameters": {
        "content": "# 🟡 Step 1 — Detect and Process New CV from Email",
        "height": 400,
        "width": 920
      },
      "id": "255c29d6-6b2c-47bb-8f9f-407f135a2f14",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2944,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🔴 Step 2 — Extract and Store Candidate Data\n",
        "height": 500,
        "width": 920,
        "color": 3
      },
      "id": "ebdb7693-80ed-4e5a-a144-9a455ce7f13f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2944,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🟣 Step 3 — Evaluate and Qualify the Candidate\n",
        "height": 500,
        "width": 920,
        "color": 6
      },
      "id": "8f602f18-5a37-4335-bee2-3f0e2fd391a1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": " ## AI-Powered HR Workflow: CV Analysis and Evaluation from Gmail to Sheets\n\n### 📋 Before you get started, make sure you have:\n\n- ✅ [n8n installed](https://www.hostg.xyz/SHHOJ) *(self-hosted required for Gmail + OpenAI + Google integrations)*\n- ✅ [OpenAI API Key](https://platform.openai.com/api-keys)\n- ✅ [Google Sheets API enabled](https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview) in Google Cloud Console\n- ✅ [Google Drive API enabled](https://console.cloud.google.com/apis/api/drive.googleapis.com/overview) in Google Cloud Console\n- ✅ [OAuth 2.0 Client ID and Secret](https://console.cloud.google.com/apis/credentials) created in Google Cloud (required for Gmail, Drive, and Sheets nodes)\n\n> Make sure you’ve authorized n8n to access these services using the credentials above before running the workflow.\n",
        "height": 400,
        "width": 920
      },
      "id": "b01f1d37-71d2-4955-b8dd-b1f8a7fa57ba",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 1
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD"
          ],
          "q": "has:attachment",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "acf74909-9438-4e74-bb7b-32d9486a5077",
      "name": "Gmail: Watch for new CV",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -2848,
        -608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Doesn't apply",
              "description": "The candidate is not a job application"
            },
            {
              "category": "Apply",
              "description": "This is a job application submitted by a candidate applying for a position at our organization, included as an attached file."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Classify the user's text into one of the following categories: {categories}.\nFollow the formatting instructions provided below exactly.\nDo not include any explanation — output only the final JSON result."
        }
      },
      "id": "dbeaa505-5030-479e-b827-1633540c4c7c",
      "name": "Classify Email Type",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        -2624,
        -608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "0a95b2dd-419b-4142-8b1b-313d1618de6c",
      "name": "OpenAI Model – Email Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2624,
        -448
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {},
      "id": "d31448e2-2dce-4c3c-b269-e5bc83c004e7",
      "name": "Skip (If not a job application)",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -2192,
        -608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "f6938e74-51b0-4d85-a7c0-66dbb825d12f",
      "name": "Extract Resume Text (PDF)",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2576,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "=attachment_0",
        "name": "={{ $('Gmail: Watch for new CV').item.json.from.value[0].address }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1G0KjVS_NAnqbqzYlV93KpX3498G5J8b1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G0KjVS_NAnqbqzYlV93KpX3498G5J8b1",
          "cachedResultName": "CV - HR"
        },
        "options": {}
      },
      "id": "96cb10ca-eb7d-4878-8adf-78402263af5b",
      "name": "Save Resume to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2576,
        -176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "0781922e-9844-4900-8b9f-4ed6dc98271c",
      "name": "Retrieve Job Offer Details (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2192,
        48
      ],
      "typeVersion": 4.6,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the resume:\n{{ $('Extract Resume Text (PDF)').item.json.text }}\n\nAnalyze the current information from the received candidate and score between 0 to 10 the said candidate, 0 meaning not a good fit for the position, 10 being outstanding for the job.\n\nJob Tile :  {{ $json['Title offer'] }}\nJob Description: {{ $json.Description }}\n\nReply by Email : \nSend a reply to the candidate to confirm that we have received their application and that we will get back to them as soon as possible.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an invaluable assistant. You were given a resume. You have to help me analyze the resume and give it a score based on the details available in the resume. Also, extract the name, email, phone, location and LinkedIn profile from the resume.\n\nReply by Email : \nSend a reply to the candidate to confirm that we have received their application and that we will get back to them as soon as possible."
        }
      },
      "id": "8de641ca-8606-4b6b-88e1-3050a28462b2",
      "name": "AI Agent: Score Resume",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1856,
        -176
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "o4-mini",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "id": "06b384e4-616e-40ae-8544-42f3af1f11d7",
      "name": "OpenAI Model – Resume Scoring",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1904,
        64
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wHtAFQchrCHITGkK",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail: Watch for new CV').item.json.from.value[0].address }}",
        "subject": "Application Received",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "ceb60024-2b06-46e7-99ec-a89b8c6a8f9b",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -1712,
        64
      ],
      "webhookId": "b56651a5-a82e-4550-ae4e-ffea0304cd52",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "UImTehtfG77VxF1N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"email\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"linkedin\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"score\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"Phone\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"Location\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t\t\n\t}\n}"
      },
      "id": "044a0eaa-bf9c-462f-8686-e662320a5c45",
      "name": "Parse Resume Evaluation Result",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1584,
        64
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "Name": "={{ $json.output.name }}",
            "Email": "={{ $('Gmail: Watch for new CV').item.json.from.value[0].address }}",
            "Phone": "='{{ $json.output.Phone }}",
            "Score": "={{ $json.output.score }}",
            "LinkedIn": "={{ $json.output.linkedin }}",
            "Location": "={{ $json.output.Location }}",
            "Resume text": "={{ $('Extract Resume Text (PDF)').item.json.text }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "LinkedIn",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume text",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Resume text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Link CV",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Link CV",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "a9a310eb-1586-40f3-bbea-4ae925de514a",
      "name": "Save Score to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1360,
        -176
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e9debd3b-3fa3-425a-bd61-6bf23a3a652b",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "attachment_0",
                    "rightValue": ""
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f0eabfca-ff5e-4e5d-9b4e-f3f80c7fa5b4",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "attachment_0",
                    "rightValue": ""
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "4a1d35e7-df27-4c08-93ab-16df6a66f2c4",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -2848,
        -80
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "Email": "={{ $('Gmail: Watch for new CV').item.json.from.value[0].address }}",
            "Link CV": "={{ $('Save Resume to Google Drive').item.json.webViewLink }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "LinkedIn",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume text",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Resume text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Link CV",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Link CV",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "bad5bae3-f514-40a5-b863-01a1bef5a2a6",
      "name": "Save CV to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2192,
        -176
      ],
      "typeVersion": 4.5
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-23T06:07:51.201Z",
      "createdAt": "2025-07-23T06:07:51.201Z",
      "role": "workflow:owner",
      "workflowId": "rTT3aqbAhziQYIZG",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T06:10:23.000Z",
  "versionId": "55de1098-d34a-46f0-933c-cc64ba945bfa"
}