leadgenius/sRyzf9UInNCdViYC.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Receive Resume": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type": {
      "main": [
        [
          {
            "node": "Convert Word to Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Word to Docs": {
      "main": [
        [
          {
            "node": "Get Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume": {
      "main": [
        [
          {
            "node": "Get Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Description": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Recruiter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Recruiter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Recruiter Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Generate Duplicate Check Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Set Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TXT": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Set Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recruiter Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Job Description Webhook": {
      "main": [
        [
          {
            "node": "Update Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Duplicate Check Query": {
      "main": [
        [
          {
            "node": "Check for Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate": {
      "main": [
        [
          {
            "node": "Append Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-24T14:29:14.424Z",
  "id": "sRyzf9UInNCdViYC",
  "isArchived": false,
  "meta": null,
  "name": "Bree Resume Screener - Deepseek",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1456,
        80
      ],
      "id": "63bac788-95ca-4a33-b130-7a3e30534a2d",
      "name": "Receive Resume",
      "credentials": {
        "gmailOAuth2": {
          "id": "UImTehtfG77VxF1N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "169a0bf3-73b7-4e07-9080-92fd7fc4e1e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word Doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbb700a9-4c6a-4e60-8615-0a48d0556eba",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0f51929-55da-414e-8b00-fa40da22d86e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1024,
        80
      ],
      "id": "66e5243f-67e9-4d3a-86a9-1a749b80f933",
      "name": "File Type"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        -176
      ],
      "id": "4d851799-1293-4759-a06e-b00e17d5f208",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.subject }} Resume",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ELj-boDxAupeTLHjil4Mhv2ls1mPOMtW",
          "mode": "list",
          "cachedResultName": "Bree_Resume_Screener",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ELj-boDxAupeTLHjil4Mhv2ls1mPOMtW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1280,
        80
      ],
      "id": "83010826-29d1-4be4-baf9-14b5601155f6",
      "name": "Upload to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -176
      ],
      "id": "458e259e-3242-4abb-aab2-f05db6cc788f",
      "name": "Convert Word to Docs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -176
      ],
      "id": "e6ce0253-a768-4366-bad5-c0137e77e30b",
      "name": "Get Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f9e36f9-60cb-4593-a586-723124d69ff8",
              "name": "resume",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -176
      ],
      "id": "9f33df5b-01e3-405d-a6f2-c1a06c2b343b",
      "name": "Set Resume"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ktWMqtUTZAWsAShshpt6OgGzWLub5WkWhpagaJ2EyGo",
          "mode": "list",
          "cachedResultName": "Job Title_ AI Solutions Architect",
          "cachedResultUrl": "https://docs.google.com/document/d/1ktWMqtUTZAWsAShshpt6OgGzWLub5WkWhpagaJ2EyGo/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -176
      ],
      "id": "84332d4c-890e-4105-8586-d358f2d2ba00",
      "name": "Get Job Description",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        -176
      ],
      "id": "3564f657-ddee-43f5-87f1-04f06a0a819f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate Resume:\n\n{{ $('Set Resume').item.json.resume }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert technical recruiter specializing in AI, automation, and software roles. You have been given a job description and a candidate resume. Your task is to analyze the resume in relation to the job description and provide a detailed screening report. \n\nFocus specifically on how well the candidate matches the core requirements and ideal profile outlined in the job description. Evaluate both technical skill alignment and business-context understanding. Use reasoning grounded in the actual content of the resume and job post — avoid making assumptions.\n\n## Output\nYour output should follow this exact format:\n\nCandidate Strengths:  \nList the top strengths or relevant qualifications the candidate brings to the table. Be specific.\n\nCandidate Weaknesses:\nList areas where the candidate is lacking or mismatched based on the job description.\n\nRisk Factor:\n- Assign a risk score (Low / Medium / High)  \n- Explain the worst-case scenario if this candidate is hired.\n\nReward Factor: \n- Assign a reward score (Low / Medium / High)  \n- Describe the best-case scenario — what value could this candidate unlock?  \n- Does the candidate appear to be a short-term or long-term fit?\n\nOverall Fit Rating (0–10):  \nAssign a number between 0 (terrible match) and 10 (perfect match). Do not give decimals.\n\nJustification for Rating:\nExplain clearly why this candidate received that score. Reference specific resume content and how it aligns or doesn't with the job description.\n\n## Job Description\n{{ $json.text }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        96
      ],
      "id": "84a392fd-9975-411a-b0b2-5b1adefaf55b",
      "name": "Recruiter Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"resume_screening_evaluation\",\n  \"description\": \"Analyzes a candidate's resume against a job description and outputs strengths, weaknesses, risk/reward assessment, and an overall fit score.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_strengths\": {\n      \"type\": \"array\",\n      \"description\": \"A list of specific strengths or qualifications that match the job description.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"candidate_weaknesses\": {\n      \"type\": \"array\",\n      \"description\": \"A list of areas where the candidate falls short or lacks alignment with the job requirements.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"risk_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential risks of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The risk level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A brief explanation of the worst-case scenario if the candidate is hired.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"reward_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential upside of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The reward level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A description of the best-case scenario and whether the candidate is a short-term or long-term fit.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"integer\",\n      \"description\": \"A rating from 0 to 10 indicating how well the candidate matches the job description.\",\n      \"minimum\": 0,\n      \"maximum\": 10\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"A summary explaining why the candidate received the specific fit rating, referencing resume and job description alignment.\"\n    }\n  },\n  \"required\": [\n    \"candidate_strengths\",\n    \"candidate_weaknesses\",\n    \"risk_factor\",\n    \"reward_factor\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        352
      ],
      "id": "311f2fd0-8c7d-42d9-8c12-dbb0750f2159",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        352
      ],
      "id": "aea25f8a-ce3b-4e41-8d6d-a48c603bbc01",
      "name": "o4-mini"
    },
    {
      "parameters": {
        "text": "={{ $('Set Resume').item.json.resume }}",
        "attributes": {
          "attributes": [
            {
              "name": "First Name",
              "description": "first name of the candidate",
              "required": true
            },
            {
              "name": "Last Name",
              "description": "last name of the candidate",
              "required": true
            },
            {
              "name": "Email Address",
              "description": "candidate's email address",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        224,
        96
      ],
      "id": "e01fcde4-a66c-4a79-b02b-07eae6f0eeae",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n7HSUJUK4fmWWAVqynQeIeqCHU4tAQ1YoA8UxGye3jY",
          "mode": "list",
          "cachedResultName": "Resume Screener",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7HSUJUK4fmWWAVqynQeIeqCHU4tAQ1YoA8UxGye3jY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IybaKyVa7jpoyXatgK5gM7vKVO67pNnaHjuueaDlJKg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Unique ID": "={{ $json['message-id'] }}-{{ $json['date'] }}",
            "Date": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "Resume": "={{ $('Upload to Drive').item.json.webViewLink }}",
            "First Name": "={{ $json.output['First Name'] }}",
            "Last Name": "={{ $json.output['Last Name'] }}",
            "Email": "={{ $json.output['Email Address'] }}",
            "Strengths": "={{ $('Recruiter Agent').item.json.output.candidate_strengths.join(\"\\n\") }}",
            "Weaknesses": "={{ $('Recruiter Agent').item.json.output.candidate_weaknesses.join(\"\\n\") }}",
            "Risk Factor": "={{ $('Recruiter Agent').item.json.output.risk_factor.score }}: {{ $('Recruiter Agent').item.json.output.risk_factor.explanation }}",
            "Reward Factor": "={{ $('Recruiter Agent').item.json.output.reward_factor.score }}: {{ $('Recruiter Agent').item.json.output.reward_factor.explanation }}",
            "Justification": "={{ $('Recruiter Agent').item.json.output.justification_for_rating }}",
            "Overall Fit": "={{ $('Recruiter Agent').item.json.output.overall_fit_rating }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factor",
              "displayName": "Risk Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward Factor",
              "displayName": "Reward Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall Fit",
              "displayName": "Overall Fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        96
      ],
      "id": "415de4bb-f148-48ef-bc95-c282621d1233",
      "name": "Append Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -400,
        80
      ],
      "id": "072bf042-75fc-4449-b4c6-9edc146d3354",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        80
      ],
      "id": "4dbee3f5-851c-47f8-a469-2c4051e5c8a3",
      "name": "Get PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        320
      ],
      "id": "46138407-1062-41c7-8427-90efe4d2c016",
      "name": "Get TXT",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -400,
        320
      ],
      "id": "3c2b7cf1-e8c0-41e2-91c1-0cc83367bd49",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "content": "## Resume Collection",
        "height": 220,
        "width": 420,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        16
      ],
      "id": "1b952e04-e196-45e9-b6d8-627b6f16ec9c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## File Type",
        "height": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        16
      ],
      "id": "5c871340-081c-4929-af13-734021450ad9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Word Doc",
        "height": 220,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -240
      ],
      "id": "891542eb-853f-4485-a94c-007ec7b39fcc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## PDF",
        "height": 220,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        16
      ],
      "id": "2010f1f3-a4d8-484b-9a6d-39d423412aee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Text File",
        "height": 220,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        256
      ],
      "id": "44960615-788c-4823-8359-9eda5e235f40",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Standardize Input\n",
        "height": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -240
      ],
      "id": "95c2880b-ac42-4a7a-8653-51f96e877fed",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get Job Description",
        "height": 220,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -240
      ],
      "id": "de102177-fb99-498d-aa21-12552af144c9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Analysis & Information Extract",
        "height": 220,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        16
      ],
      "id": "015154b2-0f00-4a06-9813-c7d8c711b8e2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Model & Parser",
        "height": 220,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        256
      ],
      "id": "d20adf0f-4b9d-48e9-9876-944b13293dc0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        352
      ],
      "id": "a423c031-3fe3-4eea-a11e-8034c3342f94",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PhcWOUod8OUw29Ob",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-description",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1312,
        -256
      ],
      "id": "e7acf033-68d2-4fe5-8bb2-17de8e12907c",
      "name": "Job Description Webhook",
      "webhookId": "webhook_job_description"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{ $json.filename || 'Job Description' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ELj-boDxAupeTLHjil4Mhv2ls1mPOMtW",
          "mode": "list",
          "cachedResultName": "Bree_Resume_Screener"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1072,
        -256
      ],
      "id": "036098b7-2260-479d-8653-68e263f3ed97",
      "name": "Update Job Description",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrurgX9EkT88ZrxF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const uniqueId = $item.json[\"Unique ID\"];\nconst query = `=EXACT(A:A, \\\"${uniqueId}\\\")`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        576,
        96
      ],
      "id": "bf4c437d-3837-4eca-89fb-2a7ea3768d5a",
      "name": "Generate Duplicate Check Query"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n7HSUJUK4fmWWAVqynQeIeqCHU4tAQ1YoA8UxGye3jY",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        736,
        96
      ],
      "id": "cbf81791-703d-4245-96f1-4e98fffc1307",
      "name": "Check for Duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VnYUNWu00t6X0Qvr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-24T14:29:14.428Z",
      "createdAt": "2025-07-24T14:29:14.428Z",
      "role": "workflow:owner",
      "workflowId": "sRyzf9UInNCdViYC",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-28T09:33:26.000Z",
  "versionId": "c269d12e-6aaa-4f80-b176-c63b8bb10260"
}