leadgenius/ZJiVTpZ0zsaBbeVA.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get Image": {
      "main": [
        [
          {
            "node": "Extract from File to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Check User & Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier Audio",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Schema": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Image Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Transcribe Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Text Task Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Other Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User & Chat ID": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook Test URL": {
      "main": [
        [
          {
            "node": "Test Webhook Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Recording": {
      "main": [
        [
          {
            "node": "Text Classifier Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image File": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier Audio": {
      "main": [
        [
          {
            "node": "Audio Task Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio Other Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram Webhook Info": {
      "main": [
        [
          {
            "node": "Get Webhook Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Token & Webhooks": {
      "main": [
        [
          {
            "node": "Set Webhook Production URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Webhook Test URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Telegram Webhook Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for Telegram Events": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook Production URL": {
      "main": [
        [
          {
            "node": "Production Webhook Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File to Base64": {
      "main": [
        [
          {
            "node": "Convert to Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:46:40.066Z",
  "id": "ZJiVTpZ0zsaBbeVA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bobby's Image Agent",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5fe3c0d8-bd61-4943-b152-9e6315134520",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Listen for Telegram Events').item.json.body.message.from.first_name }}",
              "rightValue": "={{ $json.first_name }}"
            },
            {
              "id": "98a0ea91-0567-459c-bbce-06abc14a49ce",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Listen for Telegram Events').item.json.body.message.from.last_name }}",
              "rightValue": "={{ $json.last_name }}"
            },
            {
              "id": "18a96c1f-f2a0-4a2a-b789-606763df4423",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $('Listen for Telegram Events').item.json.body.message.from.id }}",
              "rightValue": "={{ $json.id }}"
            }
          ]
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "id": "ba14ebd5-53d0-4a9f-8d83-6d4e88547eef",
      "name": "Check User & Chat ID",
      "type": "n8n-nodes-base.if",
      "position": [
        784,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.message.chat.id }}",
        "text": "=Unable to process your message.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "653e08f7-374b-44b4-905e-c690c4a00dac",
      "name": "Error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        992,
        896
      ],
      "typeVersion": 1.2,
      "webhookId": "56d50e01-18ef-476a-a03b-ab7ef163f655"
    },
    {
      "parameters": {
        "content": "# Receive Telegram Message with Webhook",
        "height": 652,
        "width": 929
      },
      "id": "6476346c-7cb6-4211-9abe-e53ac1a3405c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "your-endpoint",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "2bf16abc-a245-42e6-88f9-81139ffa73fb",
      "name": "Listen for Telegram Events",
      "type": "n8n-nodes-base.webhook",
      "position": [
        352,
        608
      ],
      "webhookId": "b4ed4c80-a655-4ff2-87d6-febd5280d343",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/{{ $json.token }}/setWebhook",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.test_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6152d67-b6e5-4fb6-8a0e-d5d393445e26",
      "name": "Set Webhook Test URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        944,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Telegram Webhook Tools\n\n## Setting your Telegram Bot WebHook the Easy Way\n",
        "height": 532,
        "width": 1638,
        "color": 3
      },
      "id": "1fdcb0ba-b281-44f6-81bc-c38f722e8121",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/{{ $json.token }}/getWebhookInfo",
        "options": {}
      },
      "id": "3fd771e0-edc0-4185-8026-b141582e87f0",
      "name": "Get Telegram Webhook Info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        432,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Process Audio",
        "height": 429,
        "width": 1113,
        "color": 4
      },
      "id": "a57df155-4225-413a-9c3d-d3eb48882c21",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17989eb0-feca-4631-b5c8-34b1d4a6c72b",
              "name": "image_file_id",
              "type": "string",
              "value": "={{ $json.body.message.photo.last().file_id }}"
            },
            {
              "id": "9317d7ae-dffd-4b1f-9a9c-b3cc4f1e0dd3",
              "name": "caption",
              "type": "string",
              "value": "={{ $json.body.message.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d44dbabb-27fd-4392-aaa8-d3de110f9809",
      "name": "Image Schema",
      "type": "n8n-nodes-base.set",
      "position": [
        1344,
        1504
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# How to set up a Telegram Bot WebHook\n\n## WebHook Setup Process\n\n**Basic Concept**\nA WebHook allows your Telegram bot to automatically receive updates instead of manually polling the Bot API.\n\n**Setup Method**\nTo set a WebHook, make a GET request using this URL format:\n```\nhttps://api.telegram.org/bot{my_bot_token}/setWebhook?url={url_to_send_updates_to}\n```\nWhere:\n- `my_bot_token`: Your bot token from BotFather\n- `url_to_send_updates_to`: Your HTTPS endpoint that handles bot updates\n\n\n**Verification**\nTo verify the WebHook setup, use:\n```\nhttps://api.telegram.org/bot{my_bot_token}/getWebhookInfo\n```\n\nA successful response looks like:\n```json\n{\n \"ok\": true,\n \"result\": {\n   \"url\": \"https://www.example.com/my-telegram-bot/\",\n   \"has_custom_certificate\": false,\n   \"pending_update_count\": 0,\n   \"max_connections\": 40\n }\n}\n```\n\n\nThis method provides a simple and efficient way to handle Telegram bot updates automatically through webhooks rather than manual polling.",
        "height": 860,
        "width": 800,
        "color": 7
      },
      "id": "d9a9fd8c-ec93-4b45-96c6-933298c299fc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1d856833-22d3-4b82-9571-371395da974f",
      "name": "gpt-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1760,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.body.message.voice.file_id }}"
      },
      "id": "a4ebe08c-e9d3-4609-a5e6-f4904063f005",
      "name": "Get Audio File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1344,
        544
      ],
      "typeVersion": 1.2,
      "webhookId": "c96aa9fc-654c-4718-a562-60dc29e6afa7"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.image_file_id }}"
      },
      "id": "85f6a646-9f39-4940-b15c-bbd83c17590f",
      "name": "Get Image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1536,
        1504
      ],
      "typeVersion": 1.2,
      "webhookId": "1f2737a8-73cf-4172-b054-a0815706a3bf"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "id": "55e074e8-7db9-4011-b124-9fa649a75cf9",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2144,
        1504
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "9df953dd-171b-4ff4-a56f-74000267ac18",
      "name": "Transcribe Recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1536,
        544
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "# Process Text",
        "height": 429,
        "width": 1113,
        "color": 5
      },
      "id": "27df7992-33b0-4949-ac86-ebdc2f919084",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ade2c4d-7a40-42c6-be35-fbe94a63460e",
      "name": "gpt-4o-mini1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1760,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "=1234567891",
        "text": "={{ $json.description }} for Testing",
        "additionalFields": {}
      },
      "id": "3d401d7f-2e9b-44f9-b4eb-ba2f1c3c5033",
      "name": "Test Webhook Status",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1136,
        192
      ],
      "typeVersion": 1.2,
      "webhookId": "8372f2cc-fb8c-482f-b682-b4c637306f35"
    },
    {
      "parameters": {
        "chatId": "=1234567891",
        "text": "={{ $json.description }} for Production",
        "additionalFields": {}
      },
      "id": "aca54fe3-5d0e-4093-9724-7408a26d448a",
      "name": "Production Webhook Status",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1664,
        192
      ],
      "typeVersion": 1.2,
      "webhookId": "d694699c-333e-460c-b354-89d166499b22"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/{{ $json.token }}/setWebhook",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.production_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b33775ec-2245-4378-8ed4-a9c71e720514",
      "name": "Set Webhook Production URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1456,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b37b48ba-8fef-4e6c-bbca-73e6c2e1e0a8",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f5e7158-9153-42c2-8d05-726333b76471",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1536,
        1008
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}",
        "text": "=Task message: <i>{{ $json.text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "71e52db0-b317-4eed-84b3-47981f175c21",
      "name": "Audio Task Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2144,
        496
      ],
      "typeVersion": 1.2,
      "webhookId": "1b205008-838c-4562-a80a-05e1ba1f14b2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}",
        "text": "=Other message: <i>{{ $json.text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "9bbf21bd-53c5-4242-bf82-6cd2550ce46e",
      "name": "Audio Other Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2144,
        672
      ],
      "typeVersion": 1.2,
      "webhookId": "a51ea0fd-498f-45fd-b01f-127814558e8b"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}",
        "text": "=Task message: <i>{{ $json.text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1a5b9cdf-7bcc-4946-9e69-6aca17f2276b",
      "name": "Text Task Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2144,
        944
      ],
      "typeVersion": 1.2,
      "webhookId": "e706854e-2c77-477a-b23f-17d6addf5665"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}",
        "text": "=Other message: <i>{{ $json.text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d96187da-9d27-4488-95e0-928f96ca9c43",
      "name": "Text Other Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2144,
        1136
      ],
      "typeVersion": 1.2,
      "webhookId": "8fb004e7-335a-4c8b-afe2-4cabbfa87753"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "15613689-ecfc-4477-89fe-45ce812fcc87",
      "name": "Image Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2336,
        1504
      ],
      "typeVersion": 1.2,
      "webhookId": "cdd67921-160b-4eaf-b117-df221b574ddb"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $json.result.file_path }}"
        }
      },
      "id": "94ba6ab6-8ed0-4fa6-82f8-c10f38ceea4c",
      "name": "Convert to Image File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1936,
        1504
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "7e7f183b-cc3f-4e82-b828-efd0c1bba887",
      "name": "Extract from File to Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1744,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "task",
              "description": "If the message is about about creating a task/todo"
            },
            {
              "category": "other",
              "description": "If the message is not about creating a task/todo "
            }
          ]
        },
        "options": {}
      },
      "id": "6492a31f-4cbe-4a4a-872c-d4c799822e3c",
      "name": "Text Classifier Audio",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        1744,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "task",
              "description": "If the message is about about creating a task/todo"
            },
            {
              "category": "other",
              "description": "If the message is not about creating a task/todo "
            }
          ]
        },
        "options": {}
      },
      "id": "ec2740d9-6de2-460a-a459-e40c82fc4166",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        1744,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87811892-85f5-4578-a149-3edd94d3815a",
              "name": "token",
              "type": "string",
              "value": "bot[your-telegram-bot-token]"
            },
            {
              "id": "d2b9ab83-44ad-4741-aac9-1feed974c015",
              "name": "test_url",
              "type": "string",
              "value": "https://[your-url]/webhook-test/[your-endpoint]"
            },
            {
              "id": "0c671fbf-aa2c-42ef-9e8b-398ac38358d0",
              "name": "production_url",
              "type": "string",
              "value": "https://[your-url]/webhook/[your-endpoint]"
            }
          ]
        },
        "options": {}
      },
      "id": "9dac2383-2e9f-4bb3-9975-5832be49c6c5",
      "name": "Telegram Token & Webhooks",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "=1234567891",
        "text": "={{ JSON.stringify($json.result, null, 2)  }}",
        "additionalFields": {}
      },
      "id": "9e5fc5c2-8d07-427d-bd08-5bb5a9a6539a",
      "name": "Get Webhook Status",
      "type": "n8n-nodes-base.telegram",
      "position": [
        640,
        192
      ],
      "typeVersion": 1.2,
      "webhookId": "884bf73c-b5de-4631-aa4b-4f5895578ee4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cea6da1-652a-4c1e-94c3-30608ced90f8",
              "name": "first_name",
              "type": "string",
              "value": "First Name"
            },
            {
              "id": "b90280c6-3e36-49ca-9e7e-e15c42d256cc",
              "name": "last_name",
              "type": "string",
              "value": "Last Name"
            },
            {
              "id": "f6d86283-16ca-447e-8427-7d3d190babc0",
              "name": "id",
              "type": "number",
              "value": 12345678999
            }
          ]
        },
        "options": {}
      },
      "id": "eb3127b6-9182-41de-a036-8e0b3720c338",
      "name": "Validation",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Validate Telegram User\n",
        "height": 260,
        "width": 420,
        "color": 7
      },
      "id": "a4b83e9c-2700-4b45-9bd6-23dd8082bd4e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Webhook Status",
        "height": 240,
        "width": 460,
        "color": 7
      },
      "id": "284737b5-f1b8-4ca8-839f-79293cf520af",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set Webhook for Testing",
        "height": 240,
        "width": 460,
        "color": 7
      },
      "id": "247450ee-1bb3-4c54-900f-418f6cf3baaa",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set Webhook for Production",
        "height": 240,
        "width": 480,
        "color": 7
      },
      "id": "658e26b1-48a2-46dd-801d-b871a8ff13a4",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.body.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "342f0883-d959-44a2-b80d-379e39c76218",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.body.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ded3a600-f861-413a-8892-3fc5ea935ecb",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.body.message.photo }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c3b1bc57-cf17-480d-bf34-ea1a957cc860",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        992,
        608
      ],
      "typeVersion": 3.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-02T01:46:40.073Z",
      "createdAt": "2025-08-02T01:46:40.073Z",
      "role": "workflow:owner",
      "workflowId": "ZJiVTpZ0zsaBbeVA",
      "projectId": "v7HF504DXHWlRi0I"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-02T03:06:47.000Z",
  "versionId": "ff83489b-a2e0-4512-967c-475dcc6c8c7f"
}